.row {
  display: inline-flex;
}

.board {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid black;
}

.game {
  display: flex;
  justify-content: center;
}

.tile {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  height: 25px;
  width: 25px;
}

.tile.marked {
  background-color: red;
}

.tile.crossed {
  background-color: grey;
}

.row-hint-item {
  height:26px;
  text-align: center;
  line-height: 27px;

}
